# Ignore Folder
.kiro/*
.idea/*

# Ignore File
*.zip
*.rar
*.tar
*.gz
*.bz2
*.7z
*.iso
*.apk
*.dmg
*.jar
*.tar.gz
*.tar.bz2
*.tar.7z
*.tar.xz
*.tar.zst
*.xz
*.zst
*.zstd
*.zipx
*.lz4
*.lzma
*.lzo
*.lzop
*.z
*.z01
*.z02
*.z03
*.z04
*.z05
*.z06
*.z07
*.z08
*.z09
*.zstd
*.zstd
k8slearn/5.Kubernetes 网络/Traefik/traefik-helm-chart-master
k8slearn/9.Kubernetes 监控/9.1.Prometheus/Manifest/1.Prometheus-Demo/prometheus-3.7.3.linux-amd64/prometheus
k8slearn/9.Kubernetes 监控/9.1.Prometheus/Manifest/1.Prometheus-Demo/prometheus-3.7.3.linux-amd64/promtool
